.Cadastro-container {
    width: 100%;
    padding: 0 30px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
       
}
.Cadastro-container header{
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    
}


.Cadastro-container header img{
    height: 120px;
    margin-right: 100px;
}


.Cadastro-container section.form {
  max-width: 500px;
}

.Cadastro-container section.form form {
    margin-top: 20px;
}

.Cadastro-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.Cadastro-container section.form form h2 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.Cadastro-container section.form .input-group{
    display: flex;
}
.Cadastro-container section.form .input-group input +input {
    margin-left: 8px;
    max-width: 70px;
}
.Cadastro-container section.form form button {
    width: 100%;
}
@media (max-width: 800px){
    .Cadastro-container header{
        flex-direction: column;
    }

    .Cadastro-container header img{
        height: 75px;
        margin-right: 0px;
        margin-bottom: 20px;
        
    }

    .Cadastro-container header .button{
        position: static;
        right: 0px;
        top: 0px;
    }

    .Cadastro-container section.form form h1{
        font-size: 22px;
    }
  
}