.mapa-container header{
    margin: 32px auto;
    display: flex;
    align-items: center;
    
}

.mapa-container header img{
    height: 120px;
   
}
.mapa-container header .button{
    position: absolute;
    right: 70px;
    top: 65px;
}

@media (max-width: 800px){
    .mapa-container header{
        flex-direction: column;
    }

    .mapa-container header img{
        height: 75px;
        margin-right: 0px;
        margin-bottom: 20px;
        
    }

    .mapa-container header .button{
        position: static;
        right: 0px;
        top: 0px;
        margin-bottom: 20px;
    }

   
  
}